<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Number Checker</title>
</head>
<body>
    <h1>Prime Number Checker</h1>
    <form method="post">
        <label for="number">Enter a number:</label>
        <input type="number" name="number" required>
        <button type="submit">Check</button>
    </form>
    {% if result is not none %}
        <p>{{ result }} is {{ "prime" if result else "not prime" }}.</p>
    {% endif %}
</body>
</html>
